___
# Ciência dos Dados - PROJETO 1

## Guilherme Leite
___

## Acesso à internet de pessoas de baixa renda em relação ao PIB do estado em que moram.

___
## Introdução

Como se da o acesso à internet em famílias de baixa renda em relação ao estado em que residem.

___
## Análise e Resultados

In [2]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import glob
import os

In [3]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\Usuario

In [4]:
#Se usar o arquivo descompactado
P2015 = pd.read_csv('DOM2015.csv')
P2014 = pd.read_csv('DOM2014.csv')
P2013 = pd.read_csv('DOM2013.csv')
P2015.dtypes
#Se usar o arquivo compactado como está no dropbox púbico
#pd.read_csv('DOM2015csv.zip', compression='zip', header=0, sep=',', quotechar='"')

Unnamed: 0      int64
V0101           int64
UF              int64
V0102           int64
V0103           int64
V0104           int64
V0105         float64
V0106         float64
V0201         float64
V0202         float64
V0203         float64
V0204         float64
V0205         float64
V0206         float64
V0207         float64
V0208         float64
V0209         float64
V0210         float64
V0211         float64
V0212         float64
V0213         float64
V0214         float64
V0215         float64
V0216         float64
V2016         float64
V0217         float64
V0218         float64
V0219         float64
V0220         float64
V2020         float64
               ...
V02324        float64
V02325        float64
V02326        float64
V02327        float64
V02424        float64
V02425        float64
V02426        float64
V2032         float64
V4105           int64
V4107           int64
V4600         float64
V4601         float64
V4602           int64
V4604           int64
V4605         float64
V4606           int64
V4607         float64
V4608         float64
V4609           int64
V4610           int64
V4611         float64
V4614         float64
UPA             int64
V4617           int64
V4618           int64
V4620         float64
V4621         float64
V4622         float64
V4624         float64
V9992           int64
Length: 81, dtype: object

In [17]:

P15=P2015[['UF','V02272','V02273','V02274','V02322','V02324','V02424','V02425','V02426','V4622']]
P14=P2014[['UF','V02272','V02273','V02274','V02322','V02324','V02424','V02425','V02426','V4622']]
P13=P2013[['UF','V02272','V02273','V02274','V02322','V02324','V02424','V02425','V02426','V4622']]





NNP15 = P15[pd.notnull(P15.UF)&pd.notnull(P15.V02272)&pd.notnull(P15.V02273)&pd.notnull(P15.V02274)&pd.notnull(P15.V02322)&pd.notnull(P15.V02324)&pd.notnull(P15.V02424)&pd.notnull(P15.V02425)&pd.notnull(P15.V02425)&pd.notnull(P15.V02425)]
NNP14 = P14[pd.notnull(P14.UF)&pd.notnull(P14.V02272)&pd.notnull(P14.V02273)&pd.notnull(P14.V02274)&pd.notnull(P14.V02322)&pd.notnull(P14.V02324)&pd.notnull(P14.V02424)&pd.notnull(P14.V02425)&pd.notnull(P14.V02425)&pd.notnull(P14.V02425)]
NNP13 = P13[pd.notnull(P13.UF)&pd.notnull(P13.V02272)&pd.notnull(P13.V02273)&pd.notnull(P13.V02274)&pd.notnull(P13.V02322)&pd.notnull(P13.V02324)&pd.notnull(P13.V02424)&pd.notnull(P13.V02425)&pd.notnull(P13.V02425)&pd.notnull(P13.V02425)]

NNP15.to_csv('PNAD15.csv', sep='\t')
NNP14.to_csv('PNAD14.csv', sep='\t')
NNP13.to_csv('PNAD13.csv', sep='\t')

P15.head()
NNP15.head()

    UF  V02272  V02273  V02274  V02322  V02324  V02424  V02425  V02426  V4622
3   11     3.0     1.0     3.0     2.0     2.0     2.0     4.0     2.0    4.0
5   11     3.0     1.0     1.0     2.0     4.0     4.0     4.0     2.0    5.0
8   11     3.0     1.0     3.0     2.0     2.0     2.0     4.0     2.0    4.0
10  11     1.0     1.0     3.0     2.0     2.0     2.0     4.0     2.0    5.0
11  11     3.0     1.0     1.0     2.0     2.0     2.0     4.0     2.0    6.0

___
## Conclusão

Descreva aqui suas conclusões!

In [ ]:
V4622
V02426
V02425
V02424
V02324
V02322
UF

P2015.loc['UF','V02322','V02324','V02424','V02425','V02426','V4622']